{% extends "base.html" %}
{% load static %}
{% block title %}terms of use{% endblock %}
{% block content %}

<body> 

    <style>

        :root {
            --primary-color: #8910b9;
            --secondary-color: #f0f0f0;
            --bg-color: #ffffff;
            --text-color: #333;
            --nav-bg-color: #ffffff;
            --footer-bg-color: #ffffff;
        }

        </style>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script type="text/javascript" id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
        </script>
        <div class="gradient-bg py-24 sm:py-32">
          <div class="container mx-auto text-center px-6">
            <h1 class="text-5xl sm:text-6xl font-bold mb-4">Terms of use</h1>
            <h2 class="text-2xl sm:text-3xl mb-8"> Welcome to simil.art website, which allows you to search for works of art similar to a chosen work. By using this site, you agree to these terms of use.
            </h2>
          </div>
        </div>
        <hr style="width: 50%; height: 4x; margin: auto;">
        
        
        
        <div class="container mx-auto px-6 py-12">
            <div class="feature-section mb-12">
                <h2 class="font-semibold text-2xl md:text-3xl mb-4 text-center">1. Definitions</h2>
                <p class="text-gray-700 text-center mx-auto w-3/4">  
                    In these conditions, "Site" refers to our website and "User" refers to any person who uses the Site.</p>
              </div>
              <div class="feature-section mb-12">
                <h2 class="font-semibold text-2xl md:text-3xl mb-4 text-center">2. Acceptance of conditions
                </h2>
                <p class="text-gray-700 text-center mx-auto w-3/4">
                    By using the Site, you agree to be bound by these terms of use. We reserve the right to modify these conditions at any time. We encourage you to consult them regularly.
                    
                </p>
            </div>
            
            <div class="feature-section mb-12">
                <h2 class="font-semibold text-2xl md:text-3xl mb-4 text-center">                   
                    3. Use of the Site
                    </h2>
                <p class="text-gray-700 text-center mx-auto w-3/4">
                     The Site is intended for educational use. Users are authorised to view, download and print the content of the Site for non-commercial and educational purposes, provided that they retain all copyright and other proprietary notices. Use of the Site for any purpose contrary to these Terms of Use is strictly prohibited.
                </p>
            </div>
            <div class="feature-section mb-12">
                <h2 class="font-semibold text-2xl md:text-3xl mb-4 text-center">4. Intellectual property rights
                </h2>
                <p class="text-gray-700 text-center mx-auto w-3/4">
                    All content on the Site, including text, images, diagrams and the like, is protected by copyright laws and is the property of the Site or its licensors.
                    
                    
                    The Site may contain images of works of art protected by copyright, in particular those taken from the WikiArt database. These images are used for educational and teaching purposes only, in accordance with copyright laws and fair use/usage équitable exceptions.
                </p>
            </div>
            <div class="feature-section mb-12">
                <h2 class="font-semibold text-2xl md:text-3xl mb-4 text-center">5. Confidentiality
                </h2>
                <p class="text-gray-700 text-center mx-auto w-3/4">
                    By using the Site, you agree to the terms of our privacy policy.
                </p>
            </div>
            <div class="feature-section mb-12">
                <h2 class="font-semibold text-2xl md:text-3xl mb-4 text-center">6. Limitation of liability
                </h2>
                <p class="text-gray-700 text-center mx-auto w-3/4">
                    The Site is provided on an "as is" and "as available" basis. We do not warrant that the Site will be free of errors, and we will not be liable for any damages resulting from the use of the Site.
                </p>
            </div>

        </div>

  
</body>   
{% endblock %}
